doctype html
html(lang="")
  head
    // ...
    link(rel="stylesheet", href="styles/main.scss")
  body
    include templates/header

    section.main-content
      h2 This is index pages

    include templates/footer

